.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito button {
    width: 200px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
